.box-content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 900px;
  margin: 0 auto;
  background-color: rgb(197, 219, 241);
  padding: 25px;
}

.box-find-user{  
  width: 600px;
  background-color: #f1f1f1;
  margin: 0 auto;
  padding-left: 45px;
  padding-bottom: 25px;  
  
}

.find-user{
  border-radius: 40px;
  width: 300px;
  border: 1px solid #3e88dd;
  padding: 15px;
  font-size: 15px;
  color: rgb(61, 60, 58);
  
}

.btn-find-user{
  width: 150px;
  border-radius: 40px;
  border: 1px solid #3e88dd;
  margin-left: 20px;
  padding: 15px;
  font-size: 15px;
  color: rgb(61, 60, 58);
  background-color: rgb(197, 219, 241);
}

.btn-find-user:hover{
  background-color: rgb(119, 180, 240);
  color: rgb(233, 242, 250);
}

.box-repo{  
  width: 600px;
  margin: 0 auto;
  margin-top: 15px;
  padding-left: 45px;
  padding-bottom: 15px;
  background-color: #f1f1f1;
}

.repo-container{  
  margin: 0 auto;
}

.box-repo-item{
  width: 550px;
  padding: 10px;
  margin: 10px 0;
  background-color: #d6cece;
}